

&i2c0 {
    status = "disabled";  /* disable hardware I2C0 */
};

&uart0 {
    status = "disabled";  /* free D6/D7 */
};


/ {
    i2c_gpio0: i2c_gpio0 {
        compatible = "gpio-i2c";  /* must use Zephyr driver string */
        #address-cells = <1>;
        #size-cells = <0>;
        clock-frequency = <I2C_BITRATE_STANDARD>;
        status = "okay";

        sda-gpios = <&gpio 43 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
        scl-gpios = <&gpio 44 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;



        aht20: aht20@38 {
            compatible = "i2c-device";
            reg = <0x38>;
            status = "okay";
        };
        
        sgp30: sgp30@58{
            compatible = "i2c-device";
            status = "okay";
            reg = <0x58>;
        };
    };
};
