
/ {
    chosen{
        zephyr,console = &cdc_acm_uart0;
    };
};

&i2c1 {
    status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";
    aht20: aht20@38{
        compatible = "i2c-device";
        status = "okay";
        reg = <0x38>;
    };

    sgp30: sgp30@58{
        compatible = "i2c-device";
        status = "okay";
        reg = <0x58>;
    };
};

&zephyr_udc0 {
        cdc_acm_uart0: cdc_acm_uart0 {
            compatible = "zephyr,cdc-acm-uart";
            label = "CDC_ACM_0";
            #address-cells = <1>;
            #size-cells = <0>;
        };
    };
