

&i2c1 {
    status = "disabled";

};

&uart0 {
    status = "disabled";
};

/ {
    i2c_gpio0: i2c_gpio0 {
        compatible = "gpio-i2c";
        #address-cells = <1>;
        #size-cells = <0>;

        sda-gpios = <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
        scl-gpios = <&gpio1 12 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;

        clock-frequency = <I2C_BITRATE_STANDARD>;

        status = "okay";

    
        aht20: aht20@38{
            compatible = "i2c-device";
            status = "okay";
            reg = <0x38>;
        };

        sgp30: sgp30@58{
            compatible = "i2c-device";
            status = "okay";
            reg = <0x58>;
        };
    };
};



