
/ {
    chosen{
        zephyr,console = &cdc_acm_uart1;
    };

    i2c_gpio0: i2c_gpio0 {
        compatible = "gpio-i2c";
        #address-cells = <1>;
        #size-cells = <0>;

        status = "okay";

        sda-gpios = <&gpio0 0 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
        scl-gpios = <&gpio0 1 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
        
        clock-frequency = <I2C_BITRATE_STANDARD>;

        aht20: aht20@38{
        compatible = "i2c-device";
        status = "okay";
        reg = <0x38>;
    };

    };
    
};

&i2c1 {
    status = "disabled";
};

&zephyr_udc0 {
        cdc_acm_uart1: cdc_acm_uart1 {
            compatible = "zephyr,cdc-acm-uart";
            label = "CDC_ACM_1";
            #address-cells = <1>;
            #size-cells = <0>;
        };
    };

&uart0 {
    status = "disabled";
};